@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary: rgba(128, 128, 128, 0.226);
  --secondary: #284b8d;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  /* font-family: "Helvetica Neue",  sans-serif; */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Helvetica", sans-serif; */
  font-weight: 600;

}
.button-bg-1 {
  --tw-bg-color: #004f70;
}
